/* portrait view*/

@media screen and (orientation:portrait) {
    #menu {
        
    }
    #menu_game_logotype {
        
    }
    #menu_game_name {
        font-size: 13vw;
    }
}

@media screen and (orientation:portrait) and (max-width: 700px) {
    #menu_game_logotype {
        
    }
}


/* Ultra wide monitor*/

@media (min-width: 2000px) and (orientation:landscape) {
    #menu {
        width: 100%;
        background-size: 140%;
    }
    #menu_game_logotype {
        
    }
    #menu_game_name {
        
    }
}


/* PC or Mobile hover  */
@media (hover:hover){
    .menu_navigation button:hover{
        scale: 1.2;
    }
}

@media (hover:none){
    .menu_navigation button:active{
        scale: 1.2;
    }
}