@media screen and (orientation: portrait) {
    .menuNav{
        padding-left: 10px;
        padding-right: 10px;
    }
    button{
        height: 120px;
        margin-top: 10px;
    }
    .lg_block{
        height: 150px;
        border: 20px;
    }
    #gameTitle{
        font-size: 35px;
    }
    button{
        transition: .2s;
    }
    button:hover{
        transform: scale(1);
    }
    button:active{
        transform: scale(.9);
    }
    #categorybuttons{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #categorybuttons button{
        height: 80px;
    }
}